.profile-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 300px;

}

.profile-card-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card-image-container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid silver;
    margin-bottom: 20px;
}

.profile-card-content-container h1{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 20px;
    color: #7D5889;
}

.profile-card-follow-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.profile-card-content-container-follow{
    display: flex;
    flex-direction: column;
}

.profile-card-content-container-follow p{
    margin-right: 20px;
    margin-bottom: 0;
}

.profile-card-content-container-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.profile-card-content-container-button button{
    color: #fff;
    width: 100%;
    margin-right: 20px;
}

.posts-column{
    display: flex;
    justify-content:center;
}

.profile-card-posts-container{
    width: 100%;
}

@media(min-width:568px){
    .profile-card-container{
        flex-direction: row;
        width: 500px;
        margin-bottom: 30px;
    }
    
    .profile-card-image-container img{
        margin-bottom: 0px;
    }

    .posts-column{
        display: unset;
        justify-content: flex-start;
    }
}
