.admin-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 250px;
}

.admin-content{
    width: 100%;
}

@media(min-width:1200px){
    .admin-container{
        display: flex;
        flex-direction: row;
        margin-top: 0;
        margin-left: 300px;
    }
}